# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
sf-image/node_modules
sf-image/.pnp
sf-image/.pnp.js

# testing
sf-image/coverage

# production
sf-image/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

sf-image/npm-debug.log*
sf-image/yarn-debug.log*
sf-image/yarn-error.log*
sf-backend/venv
sf-backend/text_encoder
sf-backend/vision_encoder